Brotli==1.1.0
Deprecated==1.2.14
GPUtil==1.4.0
GitPython==3.1.43
Jinja2==3.1.4
Mako==1.3.5
MarkupSafe==2.1.5
PyYAML==6.0.2
Pygments==2.18.0
SQLAlchemy==2.0.31
Theano-PyMC==1.1.2
Theano==1.0.5
accelerate==0.33.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.3
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
appdirs==1.4.4
arviz==0.19.0
astroid==3.3.4
asttokens==2.4.1
attrs==24.2.0
bitsandbytes==0.43.1
black==24.8.0
blobfile==2.1.1
boltons==21.0.0
bracex==2.5
cachetools==5.3.3
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click-option-group==0.5.6
click==8.1.7
cloudpickle==3.0.0
codeshield==1.0.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
cons==0.4.6
contourpy==1.2.1
cupy-cuda11x==13.3.0
cupy==13.3.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==2.21.0
debugpy==1.6.7
decorator==5.1.1
deepeval==0.21.64
deepspeed==0.14.4
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring_parser==0.16
docx2txt==0.8
duoname==0.0.2
e==1.4.5
einops==0.8.0
env_utils==1.2.0
etuples==0.3.9
evaluate==0.4.2
exceptiongroup==1.2.0
execnet==2.1.1
executing==2.0.1
face==22.0.0
fairscale==0.4.13
fastapi==0.112.2
fastprogress==1.0.3
fastrlock==0.8.2
ffmpy==0.4.0
filelock==3.15.4
fire==0.6.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.6.1
gguf==0.6.0
gitdb==4.0.11
glom==22.1.0
google-api-core==2.19.0
google-api-python-client==2.130.0
google-auth-httplib2==0.2.0
google-auth==2.29.0
googleapis-common-protos==1.63.0
gradio==4.42.0
gradio_client==1.3.0
greenlet==3.0.3
grpcio==1.64.1
h11==0.14.0
h5netcdf==1.3.0
h5py==3.12.1
hjson==3.1.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.24.6
humanfriendly==10.0
idna==3.8
importlib_metadata==7.1.0
importlib_resources==6.4.4
inflate64==1.0.0
iniconfig==2.0.0
ipykernel==6.29.3
ipython==8.24.0
ipywidgets==8.1.5
isort==5.13.2
jedi==0.19.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema-specifications==2023.12.1
jsonschema==4.23.0
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
langchain-community==0.2.6
langchain-core==0.2.11
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
langchain==0.2.6
langsmith==0.1.84
lightning-utilities==0.11.7
lightning==2.4.0
llama-recipes==0.0.3
llama3==0.0.1
llm_recipes==0.0.1
logical-unification==0.4.6
loralib==0.1.2
lxml==4.9.4
markdown-it-py==3.0.0
marshmallow==3.21.3
matplotlib-inline==0.1.7
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
miniKanren==1.0.3
mock==5.1.0
mpi4py==3.1.4
mpmath==1.3.0
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
multivolumefile==0.2.3
mypy-extensions==1.0.0
nest_asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
numpy==1.26.4
numpy==2.1.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.555.43
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
openai==1.35.10
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-instrumentation==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt_einsum==3.4.0
optimum==1.21.4
optuna-integration==4.0.0
optuna==4.0.0
orjson==3.10.6
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
peewee==3.17.6
peft==0.11.1
perspectiveapi==1.1.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.0
platformdirs==4.2.2
pluggy==1.5.0
portalocker==2.10.0
prompt-toolkit==3.0.42
proto-plus==1.23.0
protobuf==4.25.1
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py7zr==0.22.0
pyarrow-hotfix==0.6
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybcj==1.0.2
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
pylint==3.3.1
pymc3==3.11.4
pymc==5.16.2
pymv==1.4
pyparsing==3.1.2
pyppmd==1.1.0
pyro-api==0.1.2
pyro-ppl==1.9.1
pysbd==0.3.4
pytensor==2.25.4
pytest-repeat==0.9.3
pytest-xdist==3.6.1
pytest==8.2.2
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytorch-lightning==2.4.0
pytz==2024.1
pyzmq==25.1.2
pyzstd==0.16.1
ragas==0.1.10
redlite==0.2.1
referencing==0.35.1
regex==2024.7.24
repe==0.1.4
repeng==0.2.2
requests==2.32.3
rich==13.8.0
rpds-py==0.20.0
rsa==4.9
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.17.40
ruff==0.6.2
safetensors==0.4.4
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
semgrep==1.85.0
semver==3.0.2
sentencepiece==0.2.0
sentry-sdk==2.7.1
setproctitle==1.3.3
setuptools==69.5.1
shellingham==1.5.4
shtab==1.7.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
stack-data==0.6.2
starlette==0.38.2
sympy==1.13.2
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
texttable==1.7.0
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenize-rt==6.0.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.4.1
torchao==0.5.0
torchbnn==1.2
torchmetrics==1.4.2
torchtune==0.3.0
torchvision==0.19.1
tornado==6.4
tqdm==4.66.5
traitlets==5.14.3
transformers-stream-generator==0.0.5
transformers==4.44.2
triton==3.0.0
trl==0.12.0.dev0
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tyro==0.8.10
tzdata==2024.1
unsloth==2024.8
uritemplate==4.1.1
urllib3==2.2.2
utils==1.0.2
uvicorn==0.30.6
wandb==0.17.3
wcmatch==8.5.2
wcwidth==0.2.13
websockets==12.0
wheel==0.43.0
widgetsnbextension==4.0.13
wrapt==1.16.0
xarray-einstats==0.8.0
xarray==2024.9.0
xformers==0.0.26.post1
xxhash==3.5.0
yarl==1.9.4
zipp==3.17.0